{{- /* this function receives a dictionary (dict) with:
    .collection -> .Params.contributors (strings) | .Data.Pages (pages)
    .context -> the page's context ($) to access .Site.Data
*/ -}}

{{- $sorted := slice -}}
{{- $context := .context -}}

{{- range .collection -}}
    {{- $username := "" -}}
    {{- $page := "" -}}

    {{/* Checks if the collection is of strings or a pages */}}
    {{- if reflect.IsPage . -}}
        {{- $username = .Title -}}
        {{- $page = . -}}
    {{- else -}}
        {{- $username = . -}}
    {{- end -}}

    {{- $displayname := partial "get-contributor-name.html" (dict "username" $username "context" $context) -}}
    {{- $sorted = $sorted | append (dict "username" $username "displayname" $displayname "page" $page) -}}

{{- end -}}

{{- return (sort $sorted "displayname" "asc") -}}